.button {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;

    cursor: pointer;

    transition:
        all 500ms;
}

.button:hover {
    box-shadow: var(--shadow-hover);
    transform: scale(1.05);
}

.icon_container {
    /* border: 1px solid; */
    background-color: var(--icon-bg-color);

    height: fit-content;
    width: fit-content;
    border-radius: 9999px;
    padding: 0.75em;
}

.icon {
    display: flex;
    align-items: center;
    width: var(--icon-width);
    height: 100%;
    color: currentColor;
    transition: transform 0.3s;

    & > svg {
        width: 2em;
        height: auto;

        & * {
            fill: none;
            stroke: currentColor;
            stroke-width: 2px;
            stroke-linecap: round;
            stroke-linejoin: round;

            stroke: var(--icon-color);
        }
    }
}

.text {
    color: var(--text-color);
}

.ghost{
    background-color: var(--color-bg);
    border: 2px solid var(--color-border);
}

.md{
    font: var(--text-body);
    padding: var(--space-inset-sm);
    border-radius: var(--radius-interactive);
}