@import "tailwindcss";
@import "./tokens/index.css";

html {
  scroll-behavior: smooth;
}

body {
  background: var(--color-bg);
  /* background-color: aqua; */
}

html, body {
  height: 100%;
  user-select: none;
  box-sizing: border-box;
}

:focus-visible {
  outline:
    2px solid var(--color-primary-active);
  outline-offset: 2px;
}


/* input, textarea {
  user-select: all;
} */

.selectable {
  user-select: text;
}